<!DOCTYPE html>
<html>
<head>
    <meta chrset="UTF 8">
</head>
<body>

<script src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
<script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <h1> Functioning of angular Js  filters : uppercase, lowercase and by number</h1>
<div ng-app="DemoApp" ng-controller="DemoController">
    Tutorial Name : <input type="text" ng-model="tutorialName"><br>
    <br>
    Enter the data {{tutorialName | lowercase}
</div>
<div ng-app="DemoApp" ng-controller="DemoController">
    Tutorial Name : <input type="text" ng-model="tutorialName"><br>
    <br>
    Enter the data {{tutorialName | uppercase}}

</div>
<div ng-app="DemoApp" ng-controller="DemoController">

    Enter the data{{tutorialID | number:2}}

</div>
<script type="text/javascript">
    var app = angular.module('DemoApp',[]);
    app.controller('DemoController',function($scope){

        $scope.tutorialName ="Angular JS";
    });
</script>
<a href="ang.html">Filter using Angular js</a>
</body>
</html>